{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>{% block title %}Daisy Producer{% endblock %}</title>
  <link href="/stylesheets/demo_table.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/bootswatch.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <!-- Le javascript
       ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/javascripts/jquery.js"></script>
  
  <!-- Navbar
       ================================================== -->
  <div class="navbar navbar-fixed-top">
    
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="./index.html">DAISY Producer</a>
	
        <div class="nav-collapse">
          <ul class="nav">
	    {% if perms.documents %}
            <li {% block tab-manage %}{% endblock %}>
              <a href="{% url manage_index %}">Manage</a>
            </li>
	    {% endif %}
	    {% if user.is_authenticated %}
            <li {% block tab-todo %}{% endblock %}>
              <a href="{% url todo_index %}">Todo</a>
            </li>
	    {% else %}
            <li {% block tab-browse %}{% endblock %}>
              <a href="{% url browse_index %}" >Browse</a>
            </li>
	    {% endif %}
            <li>
              <a href="./components.html">Help</a>
            </li>
            <li>
              <a href="./javascript.html">About</a>
            </li>
	    {% if user.is_staff %}
	    <li class="divider-vertical"></li>
	    <li>
	      <a href="/admin">{% trans "Administration" %}</a>
	    </li>
	    {% endif %}
	  </ul>
          <ul class="nav pull-right">
	    {% if user.is_authenticated %}
	    <li><a><i class="icon-user"></i>{{ user.username }}</a></li>
	    <li>
	      <a href="/admin/logout/">{% trans "Sign out" %}</a>
	    </li>
	    {% else %}
	    <li>
	      <a href="/accounts/login/">{% trans "Sign in" %}</a>
	    </li>
	    {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  </div>

  <div id="container">
    {% block content %}{% endblock %}
  </div>

  <div class="" id="main">
    {% block sidebar %}{% endblock %}
    
  </div>
  
  <footer>
    {% trans "Powered by" %} <a href="http://www.daisyproducer.org/">Daisy Producer</a> © 2010, 2011 {% trans "Swiss Library for the Blind, Visually Impaired and Print Disabled" %}
</footer>

</body>
</html>

